/* Resets and base styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid white;
}

/* Puzzle wrapper for alignment and padding */
.puzzle-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px; /* Add padding to create space around the puzzle */
  box-sizing: border-box;
}

/* Puzzle container and aspect ratio maintenance */
.puzzle-container {
  position: relative;
  width: 100%;
  margin-bottom: 60px; /* Adds more space below the puzzle for mobile */
}

.puzzle-container::before {
  content: "";
  display: block;
  padding-top: 100%; /* Maintains a 1:1 aspect ratio */
}

/* Grid container for proper positioning within the puzzle container */
.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Styles for the puzzle grid to ensure it fills its container */
.waffle {
  width: 100%;
  height: 100%; /* Set height to 100% to fill the container */
  table-layout: fixed;
  border-collapse: collapse;
}

/* Adjusting the size and spacing for the clue cells */
.waffle td {
  min-width: 50px; /* Ensures a minimum width for cells */
  height: 50px; /* Keeps the height consistent for puzzle cells */
  text-align: center; /* Centers the text in the cell */
  vertical-align: middle; /* Aligns the text vertically in the middle */
}

/* Specific adjustments for the first column of clues */
.waffle td:first-child {
  min-width: 60px; /* Provides additional width for the clues in the first column */
  font-size: 0.8em; /* Adjusts the font size to ensure it fits within the cell */
  padding-right: 10px; /* Reduces padding to move text towards the left */
  padding-left: 10px; /* Adds padding to move clues away from the screen edge */
  text-align: right; /* Aligns the clue text to the right */
}

/* Specific adjustments for the first row of clues, if needed */
.waffle tr:first-child td {
  height: 60px; /* Provides additional height for the clues in the first row */
}

/* Styles for the buttons container */
.buttons-container {
  margin-top: 60px; /* Increases the top margin to add more space above the buttons */
}

/* Media query for smaller screens */
@media screen and (max-height: 600px) {
  .App {
    padding-bottom: 40px; /* Increases the bottom padding to provide more space for buttons */
  }
  .puzzle-container {
    margin-bottom: 40px; /* Reduces the space below the puzzle on smaller screens */
  }
  .buttons-container {
    margin-top: 40px; /* Reduces the top margin on smaller screens */
  }
}

/* Adjusted for mobile responsiveness and usability */
@media screen and (max-width: 768px) {
  .puzzle-container {
    margin-bottom: 80px; /* Increased bottom margin for better spacing between grid and buttons */
  }

  .puzzle-wrapper {
    justify-content: flex-end; /* Aligns the puzzle to the right on mobile devices */
    padding: 10px; /* Reduces padding on mobile devices */
  }
}