/* Resets borders for all cells to none to start with a clean slate */
.waffle td, .waffle th {
  border: none;
  font-family: Arial, sans-serif;
  font-size: 16px; /* Updated font size to 16px for all grid content */
}

/* Applies black borders only to Puzzle Squares, excluding the first row and first column */
.waffle tr:not(:first-child) td:not(:first-child) {
  border: 1px solid #000000;
}

/* Maintains the specific dimensions for clue cells as previously defined */
.waffle tr:first-child th, .waffle tr th:first-child, .waffle tr td:first-child {
  width: auto; /* Adjusted to auto for the first column to fit content */
}

.waffle tr:first-child th {
  height: auto; /* Adjusted height to auto for the first row */
}

/* Ensures all other cells including Puzzle Squares have a uniform size */
.waffle td {
  min-width: 50px; /* Ensures cells do not shrink smaller than this width */
  height: 50px;
  cursor: pointer; /* Indicates the cell is clickable */
  text-align: center;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Styles for the Clue Row and Clue Column to differentiate them visually if needed */
.waffle th {
  background-color: #f0f0f0; /* Light grey background for clue cells */
  color: #000; /* Text color */
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Adjusting for the first column to ensure text does not overflow */
.waffle td:first-child {
  white-space: nowrap; /* Keep the clue content in one line */
  text-align: right; /* Align text to the right */
}

/* Styles for the clue cells in the first column */
.clue-cell-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 16px; /* Set the desired font size for clue numbers in the first column */
}

/* Styles for the clue cells in the first row */
.clue-cell-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-size: 16px; /* Set the desired font size for clue numbers in the first row */
}