/* styles.css */

/* Resets and base styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid white;
}

/* Instructions section */
.instructions {
  margin-bottom: 40px; /* Add margin bottom to create space between instructions and puzzle */
}

/* Puzzle wrapper for alignment and padding */
.puzzle-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Puzzle container and aspect ratio maintenance */
.puzzle-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.puzzle-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* Grid container for proper positioning within the puzzle container */
.grid-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px); /* Adjust the width to account for padding */
  height: calc(100% - 20px); /* Adjust the height to account for padding */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Add padding to create even spacing */
}

/* Styles for the puzzle grid to ensure it fills its container */
.waffle {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

/* Adjusting the size and spacing for the clue cells */
.waffle td {
  min-width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

/* Specific adjustments for the first column of clues */
.waffle td:first-child {
  min-width: 60px;
  font-size: 0.8em;
  padding-right: 10px;
  padding-left: 10px;
  text-align: right;
  white-space: nowrap;
  border: none;
}

/* Specific adjustments for the first row of clues, if needed */
.waffle tr:first-child td {
  height: 60px;
  white-space: nowrap;
  border: none;
}

/* Styles for the buttons container */
.buttons-container {
  margin-top: 60px;
}

/* Media query for smaller screens */
@media screen and (max-height: 600px) {
  .App {
    padding-bottom: 40px;
  }
  .puzzle-container {
    margin-bottom: 40px;
  }
  .buttons-container {
    margin-top: 40px;
  }
}

/* Adjusted for mobile responsiveness and usability */
@media screen and (max-width: 768px) {
  .puzzle-container {
    margin-bottom: 80px;
  }
  .puzzle-wrapper {
    justify-content: center;
    padding: 10px;
  }
}

/* Styles for the clue cells in the first column */
.clue-cell-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Styles for the clue cells in the first row */
.clue-cell-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-size: 16px;
}